.revenue {
    .container {
        padding-top: clamp(16px, 5vw, 96px);
        padding-bottom: clamp(16px, 5vw, 96px);
        background: var(--white);
        border-radius: clamp(var(--radius-8), 2vw, var(--radius-24));
    }
    &__title {
        margin-bottom: clamp(16px, 5vw, 64px);
    }
    &__content {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(383px, 1fr));
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        align-items: flex-end;
        row-gap: 16px;
    }
    &__item {
        background: var(--secondary-color);
        border-radius: var(--radius-8);
        flex-grow: 1;
        padding: clamp(12px, 2vw, 20px) clamp(12px, 2vw, 16px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:nth-of-type(3) {
            height: 320px;
        }
        &:nth-of-type(2) {
            height: 240px;
        }
        &:nth-of-type(1) {
            height: 160px;
        }
        @media (width <= 576px) {
            &:nth-of-type(3) {
                height: 160px;
            }
        }
        @media (width <= 400px) {
                height: 160px !important;
        }
        &-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: var(--ternary-color);
        }
        &-txt {
            font-size:clamp(16px, 5vw, 24px);
            line-height: clamp(19px, 5vw, 38px);
            font-weight: 700;
        }
    }
}
