.result-info {
    .container {
        padding-top: clamp(16px, 5vw, 64px);
        padding-bottom: clamp(16px, 5vw, 64px);
        background: var(--white);
        border-radius: clamp(var(--radius-8), 2vw, var(--radius-24));
    }

    &__title {
        text-align: left;
        margin-bottom: 16px;
    }

    &__txt {
        width: min(100%, 1000px);
        font-weight: 500;
        font-size: clamp(16px, 5vw, 24px);
        color: var(--ternary-color);
        margin-bottom: clamp(16px, 5vw, 48px);
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;

        
    }

    &__item {
        background: var(--secondary-color);
        height: 240px;
        padding: 20px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: var(--radius-8);

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6) {
            grid-column: span 2;
            @media(width<=876px) {
                grid-column: span 3;
            }
            @media(width<=576px) {
                grid-column: span 6;
            }
        }

        &:nth-of-type(7),
        &:nth-of-type(8) {
            grid-column: span 3;
            @media(width<=576px) {
                grid-column: span 6;
            }
        }
        
        &-icon {
            padding: 14px;
            font-size: 20px;
            background: #1A2B321A;

        }
    }
}