* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

body {
    background: var(--secondary-color);
}

button, input, textarea {
    border: none;
    outline: none;
    background: transparent;
}

.container {
    width: min(1312px, 100%);
    margin: 0 auto;
    padding: 0 clamp(12px, 5vw, 64px);
}

.form {
    background: var(--primary-color);
    border-radius: var(--radius-16);
    width: min(400px, 100%);
    padding: 32px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    input {
        background: #24353C;
    }
}

input {
    font-size: 16px;
    border-radius: var(--radius-8);
    padding: 17px 24px 17px 16px;
    color: var(--white);
}

.footer_fpr {
    padding: 16px;
}

.modal {
    height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    position: fixed;
    inset: 0;
}