* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

body {
    background: var(--secondary-color);
}

section {
    margin-top: 12px;
}

button, input, textarea {
    border: none;
    outline: none;
    background: transparent;
}

.container {
    width: min(1312px, 100%);
    margin: 0 auto;
    padding: 0 clamp(12px, 5vw, 64px);
}

.title {
    font-size: clamp(28px, 5vw, 40px);
    color: var(--primary-color);
    text-align: center;
    text-wrap: balance;
}

.form {
    background: var(--primary-color);
    border-radius: var(--radius-16);
    width: min(400px, 100%);
    padding: 32px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    input {
        background: #24353C;
    }
}

input {
    font-size: 16px;
    border-radius: var(--radius-8);
    padding: 17px 24px 17px 16px;
    color: var(--white);
}

.modal {
    height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    position: fixed;
    inset: 0;
}

.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.pagination-container {
  display: flex;
  column-gap: 16px;
  margin-top: 48px;
  justify-content: center;
}
.paginate-buttons {
  height: 48px;
  width: 48px;
  border-radius: var(--radius-circle);
  cursor: pointer;
  background: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--ternary-color);
}
.paginate-buttons:hover {
  background-color: #d8d8d8;
}
.active-page {
  background: var(--primary-color);
  color: var(--white);
}
.active-page:hover {
    background: var(--primary-color);
}